@import url("responsive.css");

/* Constants */
body {
  margin: 0;
  background-color: #e2edf8;
  min-height: 100vh;
  box-sizing: border-box;
}

.wrapper {
  padding: 32px;
}

section {
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  min-height: 100vh;
}
