/* Main Wrapper */
.wrapper {
  padding: 32px;
  min-height: 100vh;
  box-sizing: border-box;
}

section.app {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 30px 30px 64px;
  min-height: calc(100vh - 64px);
  box-shadow: 0 -10px 29px rgba(89, 130, 171, 0.12);
  position: relative;
}
